.block {
  border: 1px solid blue;
  background-color: rgba(0, 0, 255, 0.3);
  padding: 100px;
  position: relative;
}

.actions {
  position: absolute;
  top: 20px;
  left: 20px;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.show {
  display: block;
}

.hide {
  display: none;
}
