<div (mouseover)="toggleActions($event)"
     (mouseout)="toggleActions($event)"
     [ngClass]="structure.data.blockDirection"
     class="block">
  <div #actionsContainer
       [ngClass]="isMouseEnter ? 'show' : 'hide'"
       class="actions"
       (mouseenter)="showActions($event)">
    <div class="block-actions">
      <app-button
                  theme="secondary-circle"
                  (appButtonClickEvent)="openSettings()">
        <fa-icon [icon]="faCog" [styles]="{'color': 'white'}"></fa-icon>
      </app-button>
      <app-button
                  theme="success-circle"
                  (appButtonClickEvent)="openCreateModal()">
        <fa-icon [icon]="faPlus" [styles]="{'color': 'white'}"></fa-icon>
      </app-button>
      <app-button
                  theme="danger-circle"
                  (appButtonClickEvent)="deleteBlock()">
        <fa-icon [icon]="faTrash" [styles]="{'color': 'white'}"></fa-icon>
      </app-button>
    </div>
  </div>
  <ng-template #structureContainer></ng-template>
</div>
