<h2 mat-dialog-title>Create new block</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-dialog-content class="mat-typography">
    <div class="wrapper">
      <mat-form-field>
        <mat-label>Block type</mat-label>
        <mat-select formControlName="blockType" (selectionChange)="blockTypeChange($event)">
          <mat-option value="Block">Block</mat-option>
          <mat-option value="Text">Text Field</mat-option>
          <mat-option value="Image">Image</mat-option>
        </mat-select>
      </mat-form-field>
      <div formGroupName="styles" *ngIf="form.get('styles')">
        <div *ngFor="let formElement of newBlockService.commonStylesFormTemplate">
          <div [ngSwitch]="formElement.type">
            <div *ngSwitchCase="'Number'">
              <mat-form-field>
                <mat-label>{{formElement.label}}</mat-label>
                <input type="number" matInput formControlName="{{formElement.formControlLabel}}">
              </mat-form-field>
            </div>
            <div *ngSwitchCase="'Text'">
              <mat-form-field>
                <mat-label>{{formElement.label}}</mat-label>
                <input matInput formControlName="{{formElement.formControlLabel}}">
              </mat-form-field>
            </div>
            <div *ngSwitchCase="'Select'">
              <mat-form-field>
                <mat-label>{{formElement.label}}</mat-label>
                <mat-select formControlName="{{formElement.formControlLabel}}">
                  <mat-option *ngFor="let option of formElement.options"
                              value="{{option.value}}">{{option.label}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div formGroupName="data" *ngIf="form.get('data')">
        <div *ngFor="let formElement of newBlockService.createFormTemplateMap().get(blockTypeValue)">
          <div [ngSwitch]="formElement.type">
            <div *ngSwitchCase="'Number'">
              <mat-form-field>
                <mat-label>{{formElement.label}}</mat-label>
                <input type="number" matInput formControlName="{{formElement.formControlLabel}}">
              </mat-form-field>
            </div>
            <div *ngSwitchCase="'Text'">
              <mat-form-field>
                <mat-label>{{formElement.label}}</mat-label>
                <input matInput formControlName="{{formElement.formControlLabel}}">
              </mat-form-field>
            </div>
            <div *ngSwitchCase="'Select'">
              <mat-form-field>
                <mat-label>{{formElement.label}}</mat-label>
                <mat-select formControlName="{{formElement.formControlLabel}}">
                  <mat-option *ngFor="let option of formElement.options"
                              value="{{option.value}}">{{option.label}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" mat-dialog-close type="submit">Create</button>
  </mat-dialog-actions>
</form>

