<h2 mat-dialog-title>Create new block</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-dialog-content class="mat-typography">
    <div class="wrapper">
      <mat-form-field>
        <mat-label>Block type</mat-label>
        <mat-select formControlName="blockType" (selectionChange)="blockTypeChange($event)">
          <mat-option value="Block">Block</mat-option>
          <mat-option value="Text">Text Field</mat-option>
          <mat-option value="Image">Image</mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="this.blocksWithCommonStyles.includes(blockTypeValue)">
        <app-form-template formControlName="styles"
                           [formTemplate]="newBlockService.commonStylesFormTemplate"></app-form-template>
      </div>
      <div *ngIf="formTemplate.length">
        <app-form-template formControlName="data" [formTemplate]="formTemplate"></app-form-template>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" mat-dialog-close type="submit">Create</button>
  </mat-dialog-actions>
</form>

